.word-display {
    width: 800px;
    font-size: 28px;
    line-height: 2;
    background-color: #eaf4fb;
    padding: 20px;
    height: 150px;       /* Баландии қуттиро маҳдуд мекунем */
    overflow-y: auto;    /* Ин параметр имкон медиҳад, ки бозигарон ба поён раванд */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cce4f2;
}
